{% extends "core/base.html" %}
{% block title %}
  Password Reset Sent
{% endblock title %}
{% block content %}
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
          <h2 class="title">Password Reset Sent</h2>
          <p>
            If an account with the provided email exists, a password reset link
            has been sent to that email address.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
