{% extends "core/base.html" %}
{% block title %}
    Business Card
{% endblock title %}
{% block content %}
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="card" style="background-color: {{ business_card.background_color }};">
                <div class="card-content">
                    <!-- {% if business_card.logo %}
                        <figure class="image is-128x128">
                            <img src="{{ business_card.logo.url }}" alt="Logo">
                        </figure>
                    {% endif %} -->
                    <h2 class="title" style="color: {{ business_card.icon_color }};">{{ business_card.title }}</h2>
                    {% if business_card.first_name or business_card.last_name %}
                        <p>
                            <strong>Name:</strong> {{ business_card.first_name }} {{ business_card.last_name }}
                        </p>
                    {% endif %}
                    {% if business_card.company_name %}
                        <p>
                            <strong>Company:</strong> {{ business_card.company_name }}
                        </p>
                    {% endif %}
                    {% if business_card.location %}
                        <p>
                            <strong>Location:</strong> {{ business_card.location }}
                        </p>
                    {% endif %}
                    {% if business_card.email %}
                        <p>
                            <strong>Email:</strong> {{ business_card.email }}
                        </p>
                    {% endif %}
                    {% if business_card.phone_number %}
                        <p>
                            <strong>Phone:</strong> {{ business_card.phone_number }}
                        </p>
                    {% endif %}
                    {% if business_card.website %}
                        <p>
                            <strong>Website:</strong> <a href="{{ business_card.website }}">{{ business_card.website }}</a>
                        </p>
                    {% endif %}
                    {% if business_card.created_at %}
                        <p>
                            <strong>Created at:</strong> {{ business_card.created_at }}
                        </p>
                    {% endif %}
                    {% if business_card.updated_at %}
                        <p>
                            <strong>Updated at:</strong> {{ business_card.updated_at }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if request.GET.capture_lead %}
    <!-- Lead Capture Modal -->
    <div class="modal is-active" id="lead-capture-modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Leave Your Contact Info</p>
                <button class="delete" aria-label="close" id="close-modal"></button>
            </header>
            <section class="modal-card-body">
                <form method="post" action="{% url 'capture_lead' uuid=business_card.uuid %}">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="name" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" type="email" name="email" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Phone Number</label>
                        <div class="control">
                            <input class="input" type="text" name="phone_number">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </section>
            <footer class="modal-card-foot">
                <button class="button" id="cancel-button">Cancel</button>
            </footer>
        </div>
    </div>
    {% endif %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const closeModal = document.getElementById('close-modal');
            const cancelButton = document.getElementById('cancel-button');
            const leadCaptureModal = document.getElementById('lead-capture-modal');

            closeModal.addEventListener('click', () => {
                leadCaptureModal.classList.remove('is-active');
            });

            cancelButton.addEventListener('click', () => {
                leadCaptureModal.classList.remove('is-active');
            });
        });
    </script>
{% endblock content %}