{% extends "core/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}
    Edit Business Card
{% endblock title %}
{% block content %}
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">Edit Business Card</p>
                </header>
                <div class="card-content">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="field">
                                <label class="label">{{ field.label }}</label>
                                <div class="control">{{ field|add_class:"input" }}</div>
                                {% if field.help_text %}<p class="help">{{ field.help_text }}</p>{% endif %}
                                {% for error in field.errors %}<p class="help is-danger">{{ error }}</p>{% endfor %}
                            </div>
                        {% endfor %}
                        <div class="field is-grouped">
                            <div class="control">
                                <button type="submit" class="button is-primary">Save Changes</button>
                            </div>
                            <div class="control">
                                <a href="{% url 'dashboard' %}" class="button is-light">Cancel</a>
                            </div>
                        </div>
                    </form>
                    <button class="button is-danger is-fullwidth"
                            style="margin-top: 20px"
                            id="delete-button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Confirmation Modal -->
    <div class="modal" id="delete-modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Confirm Deletion</p>
                <button class="delete" aria-label="close" id="close-modal"></button>
            </header>
            <section class="modal-card-body">
                <p>Are you sure you want to delete this business card?</p>
            </section>
            <footer class="modal-card-foot">
                <form method="post"
                      action="{% url 'delete_business_card' uuid=business_card.uuid %}">
                    {% csrf_token %}
                    <button type="submit" class="button is-danger">Delete</button>
                </form>
                <button class="button" id="cancel-button">Cancel</button>
            </footer>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const deleteButton = document.getElementById('delete-button');
            const deleteModal = document.getElementById('delete-modal');
            const closeModal = document.getElementById('close-modal');
            const cancelButton = document.getElementById('cancel-button');

            deleteButton.addEventListener('click', () => {
                deleteModal.classList.add('is-active');
            });

            closeModal.addEventListener('click', () => {
                deleteModal.classList.remove('is-active');
            });

            cancelButton.addEventListener('click', () => {
                deleteModal.classList.remove('is-active');
            });
        });
    </script>
{% endblock content %}
