{% extends "core/base.html" %}
{% block title %}
    Leads for {{ business_card.title }}
{% endblock title %}
{% block content %}
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="content">
                <h3 class="subtitle">{{ business_card.company_name }}</h3>
                <form method="get" action="">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" name="q" placeholder="Search leads" value="{{ query }}">
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-primary">Search</button>
                        </div>
                    </div>
                </form>
                <ul>
                    {% for lead in leads %}
                        <li class="box lead-item">
                            <a href="{% url 'lead_detail' lead.id %}" class="has-text-black">
                                <div class="is-flex is-justify-content-space-between">
                                    <div>
                                        <h4 class="title is-4">{{ lead.name }}</h4>
                                        <p class="is-4">{{ lead.email }}</p>
                                    </div>
                                    <span>{{ lead.created_at|date:"M d, Y " }}</span>
                                </div>
                            </a>
                        </li>
                    {% empty %}
                        <li>No leads found.</li>
                    {% endfor %}
                </ul>
            </div>
            <footer>
                <a href="{% url 'dashboard' %}" class="card-footer-item">Back to Dashboard</a>
            </footer>
        </div>
    </div>
    <style>
        .lead-item:hover {
            background-color: #f8f8f8;
        }
    </style>
{% endblock content %}